---
import '../../styles/global.css';
import BaseLayout from "../../layouts/BaseLayout.astro";
const { frontmatter } = Astro.props;
const pageTitle = frontmatter.title;
---

<BaseLayout pageTitle={pageTitle}>
    <div class="m-8">
        <h1>{frontmatter.title}</h1>
        <div>Written by {frontmatter.author}</div>
        <div>Posted on {frontmatter.pubDate.toString().slice(0,10)}</div>
        <div><em>{frontmatter.description}</em></div>
        <img class="my-4" src={frontmatter.image.url} width="640" alt={frontmatter.image.alt} />
    </div>
    <div class="m-8 max-w-3xl">
        <slot />
    </div>
</BaseLayout>