---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const pageTitle = "About Me";
const identity = {
    name: "Aoi",
    hobbies: ["cooking", "exploring"]
}
const skills = ["useless1", "useless2", "useless3", "useless4"];
---

<BaseLayout pageTitle={pageTitle}>
	<div class="btn text-btn">About Page</div>
    <h1>Hello!</h1>
    <ul>
        <li>I'm {identity.name}!</li>
        <li>My hobbies are {identity.hobbies[0]} and {identity.hobbies[1]}</li>
    </ul>

    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li class="text-3xl font-bold">{skill}</li>)}
    </ul>
</BaseLayout>