---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>  
    <div class="flex justify-center">
        <div class="max-w-75vw sm:max-w-50vw">
            <h1 class="post-title">{frontmatter.title}</h1>
            <div>Written by {frontmatter.author}</div>
            <div>Posted on {frontmatter.pubDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}</div>
            <div>{frontmatter.description}</div>
            <img class="my-4" src={frontmatter.image.url} width="640" alt={frontmatter.image.alt} />
            <div class="flex gap-4">
                <div class="text-accent font-bold">Tags:</div>
                {frontmatter.tags.map((tag: string) => (
                    <p>
                        <a class="link" href={`/tags/${tag}`}>{tag}</a>
                    </p>
                ))}
            </div>
            <article class="post-default">
                <slot />
            </article>
        </div>
    </div>
</BaseLayout>